body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  color: #d9534f;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 2.5em;
  animation: slideInFromLeft 1s ease-in-out;
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  width: 60%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.3s;
}

input[type="text"]:focus {
  border-color: #d9534f;
  outline: none;
}

button {
  padding: 15px 30px;
  background-color: #d9534f;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #c9302c;
}

#recipeResult {
  margin-top: 20px;
  text-align: left;
}

.recipe {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
  animation: fadeIn 1s ease-in-out;
}

.recipe h2 {
  color: #5bc0de;
  margin-bottom: 10px;
  font-weight: 700;
}

.recipe p {
  margin: 5px 0;
  line-height: 1.6;
}

.recipe p strong {
  color: #d9534f;
}
